/*Styles*/

body {
    font-family: 'Lora', serif;
    color: darkgray;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    }
    .header {
    grid-area: header;
    background-color: #7580BF;
    color: white;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    }

    .header img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0 .5rem 0 .5rem;
    }

    canvas {
        max-width: 100%;
      }

    h1 {
        font-weight: 500;
        font-size: medium;
        margin-right: auto;
    }

    h1 span {
        font-weight: 900;
    }

    h3 {
        font-size: small;
        font-weight: lighter;
    }
    .navigation {
    grid-area: navigation;
    background-color: #4D4F73;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .navigation a img {
        width: 30px;
        padding: .5rem 1rem;
    }

    .bell-container{
        border-right: 1px solid #4D4F73;
    }

    .bell-container img {
        width: 20px;
        padding-right: 1rem;
    }

    a img {
        width: 100px;
    }

    .main {
    grid-area: main;
    }

    .main-header {
        display: flex;
        flex-direction: row;
    }

    .headline{
        font-size: medium;
        flex-grow: 1;
        padding: 0 1rem;
    }

    .main-header-search{
        flex-grow: 4;
        background-color: #DFE2F2;
        padding: .5rem 0 .5rem 1rem;
        border-bottom-left-radius: 5px;
    }

    .main-header-search input {
        border-radius: 1px;
    }

    .alert-banner{
        background-color:#7580BF;
        color: white;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        margin: .5rem;
        padding: 0 1rem;
    }
    .alert-banner-close {
        margin-left: auto;
        color: white;
        font-weight: bolder;
        padding: .5rem;
    }

    .section-title {
         text-align: center;
         font-size: 1.2rem;
         color: #696969;
     }
    
    .traffic-nav {
        display: flex;
        flex-direction: row;
    }

    .traffic-nav-link{
        list-style: none;
        padding: .5rem;
        font-size:  1rem;
        font-weight: bold;
        color: #696969;
    }

    .traffic-nav-link:hover {
        background-color: #7EBF88;
        border-radius: 20px;
        color: white;
    }

    .social{
        margin: 0 1rem;
    }

    .social-box{
        border: 1px solid darkgray;
        background-color: #F5F5F5;
        padding: 0 .5rem;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: row;
    }
    .social-text > p {
        font-size: 2rem;
        color: 	#696969;
    }

    .socical-name {
        color:#7580BF;
        font-weight: bold;
        font-size: 1rem;
    }

    .social-svg {
        background-color: #7580BF;
        width: 35px;
        height: 35px;
        padding: .5rem;
        border-radius: 50%;
        margin: 2.5rem 2.5rem 0 0 ;
    }

    .social-svg img {
        width: 33px;
        height: 33px;
    }

    .members-section{
        margin: 0 1rem;
    }

    .member {
        display: flex;
        flex-direction: row;
    }

    .member img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: .5rem;
    }

    .member-details {
        margin: .5rem;
    }

    .member-details p {
        font-weight: bold;
        margin: 0 !important;
        color: #696969;
    }

    .member-details p,
    .member-details a {
        font-size: 0.7rem;
    }

    .date{
        margin-left: auto;
        font-size: .7rem;
    }

    .activity{
        margin: 0 .5rem;
    }

    .member-activity img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: .5rem;
    }

    .member-activity {
        display: flex;
        flex-direction: row;
        color: #696969;
        margin-bottom: 1rem;
        border-bottom: 1px solid #F5F5F5;
        padding: 0.5rem;
    }

    .activity-item {
        font-size: 0.8rem;
        margin: 0;
    }

    .activity-time {
        font-size: 0.7rem;
        margin: 0;
    }

    .member-activity a {
        margin-left: auto;
        text-decoration: none;
        font-size: 2rem;
        color: #7580BF;
    }

   
    .message-user{
        margin: 0 1rem;
    }


    input[type=text], textarea {

        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color:#F5F5F5;
        width: 260px;
        margin-bottom: 1rem;

      }

      button[type=submit] {
        background-color: #7580BF;
        color: white;
        padding: 12px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      .settings {
          margin: 2rem 1rem;
          color: #696969;
      }

      .form-field {
          margin: 2rem 0 1rem 0;
          width: 100%;
          padding: .5rem;
      }

      .settings-buttons {
          display: flex;
          flex-direction: row;
      } 

      .button-primary {
          flex-grow: 1;
          margin-right: .5rem;
          background-color: #7580BF;
      }

      .button-disabled {
          flex-grow: 1;
          
      }

      .button-primary,
      .button-disabled {
          height: 3rem;
          border: none;
          border-radius: 5px;
          color: white;
      }

      .switch-ios {
          margin-bottom: 2rem;
      }

   

      /*** M e d i a  Queries ***/

      @media (min-width: 768px) {

        .main-container {
            display: grid;
            grid-template-columns: 1fr 14fr;
            grid-template-rows: repeat(autofit, minmax(100px, 1fr));
            grid-template-areas:
            "header header"
            "navigation main"
            "navigation main";
            }

            .main-header-search {
                display: flex;
                flex-direction: row;
            }

            .main-header-search input {
                width: 30vw;
                margin-left: auto;
                margin-right: 1rem;
            }
        

            .header{
                grid-area: header;
            }

            .navigation {
                grid-area: navigation;
                display: flex;
                flex-direction: column;
                justify-content: flex-start ;
                align-items: flex-start;
            }

            .navigation a img {
                width: 30px;
                padding: 2rem 1rem;
            }

            .main {
                grid-area: main;
            }

            .widget-container-full{
                width: 85vw;
                margin: 2rem 0 2rem 2rem;
            }

            .traffic {
                padding-bottom: 2rem;
                border-bottom: 1px solid #696969;
            }

            .traffic-nav {
                justify-content: flex-end;
                margin-right: 2rem;
            }

            .daily-traffic {
                margin: 0 1.5rem;
                border-right: 1px solid #696969;
            }

            .daily-traffic,
            .mobile-users {
                display: inline-block;
                width: 40vw;
                padding: .5rem;
            }

            .social,
            .activity {
                border-bottom: 1px solid #696969;
                border-top: 1px solid #696969;
                padding: 2rem 1rem;
            }

            .social {
                margin: 0;
            }

            .socials-container {
                display: flex;
                flex-direction: row;
            }

            .social-box {
                padding: 0 1rem;
                margin: 0 auto;
            }
            
            .members-section {
                margin: 2rem;
            }

            .member {
                margin-bottom: 1rem;
                border-bottom: 1px solid #F5F5F5;
            }

            .member-details p,
            .member-details a,
            .activity-item,
            .activity-time {
                font-size: 1.2rem;
            }

            .date {
                font-size: 1rem;
            }

            .message-user {
               margin: 1rem;
            }

            input[type=text], textarea {

                padding: 12px;
                width: 650px;
                margin-bottom: 1.5rem;
              }

              .settings {
                  padding: 2rem 1rem;
                  margin: 2rem 0;
                  border-top: 1px solid #696969;
              }

              .switch-ios {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;
                grid-template-areas:
                "first-section second-section"
                "first-section second-section";
                }
              

              .switch-ios > strong {
                  grid-area: first-section;
              }

              .switch-ios.switch-light > span {
                  grid-area: second-section;
                  width: 100px;
              }

    }

    @media (min-width: 1024px) {

        .section-title {
            text-align: left;
            margin-left: 2rem;
        }

        .daily-traffic {
            padding-right: 3rem;
        }

        .social-box {
            padding: 0 4rem;
            margin-bottom: 2rem;
        }

        .social-text p {
            margin-top: 0;
        }
    
        .social-svg {
            width: 50px;
            height: 50px;
            padding: 1rem;
            border-radius: 50%;
            margin: 2rem 2rem 0 0 ;
        }
    
        .social-svg img {
            width: 45px;
            height: 45px;
        }

        

        .user-section {
            display: flex;
            flex-direction: row;
        }

        .member-activity {
            margin: 0;
        }

        .activity {
            margin: 0;
            border-top: none;
            border-bottom: none;
        }

        .message-user {
            border-top: 1px solid #696969;
        }
    }
  
      






