/*Styles*/

body {
    font-family: 'Lora', serif;
    color: darkgray;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
    }
    .header {
    grid-area: header;
    background-color: #7580BF;
    color: white;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    }

    .header img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0 .5rem 0 .5rem;
    }

    canvas {
        max-width: 100%;
      }

    h1 {
        font-weight: 500;
        font-size: medium;
        margin-right: auto;
    }

    h1 span {
        font-weight: 900;
    }

    h3 {
        font-size: small;
        font-weight: lighter;
    }
    .navigation {
    grid-area: navigation;
    background-color: #4D4F73;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .navigation a img {
        width: 30px;
        padding: .5rem 1rem;
    }

    .bell-container{
        border-right: 1px solid #4D4F73;
    }

    .bell-container img {
        width: 20px;
        padding-right: 1rem;
    }

    a img {
        width: 100px;
    }

    .main {
    grid-area: main;
    }

    .main-header {
        display: flex;
        flex-direction: row;
    }

    .headline{
        font-size: medium;
        flex-grow: 1;
        padding: 0 1rem;
    }

    .main-header-search{
        flex-grow: 4;
        background-color: #DFE2F2;
        padding: .5rem 0 .5rem 1rem;
        border-bottom-left-radius: 5px;
    }

    .main-header-search input {
        border-radius: 2px;
    }

    .alert-banner{
        background-color:#7580BF;
        color: white;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        margin: .5rem;
        padding: 0 1rem;
    }
    .alert-banner-close {
        margin-left: auto;
        color: white;
        font-weight: bolder;
        padding: .5rem;
    }

    .section-title {
         text-align: center;
         font-size: 1.2rem;
         color: #696969;
     }
    
    .traffic-nav {
        display: flex;
        flex-direction: row;
    }

    .traffic-nav-link{
        list-style: none;
        padding: .5rem;
        font-size:  1rem;
        font-weight: bold;
    }

    .traffic-nav-link:hover {
        background-color: #7EBF88;
        border-radius: 20px;
        color: white;
    }

    .social-container{
        margin: 0 1rem;
    }

    .social-block{
        border: 1px solid darkgray;
        background-color: #F5F5F5;
        padding: 0 .5rem;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: row;
    }
    .social-text > p {
        font-size: 2rem;
        color: 	#696969;
    }

    .socical-name {
        color:#7580BF;
        font-weight: bold;
        font-size: 1rem;
    }

    .social-svg {
        background-color: #7580BF;
        width: 35px;
        height: 35px;
        padding: .5rem;
        border-radius: 50%;
        margin: 2.5rem 2.5rem 0 0 ;
    }

    .social-svg img {
        width: 33px;
        height: 33px;
    }

    .members-section{
        margin: 0 1rem;
    }

    .member {
        display: flex;
        flex-direction: row;
    }

    .member img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: .5rem;
    }

    .member-details {
        margin: .5rem;
    }

    .member-details p {
        font-weight: bold;
        margin: 0 !important;
        color: #696969;
    }

    .member-details p,
    .member-details a {
        font-size: 0.7rem;
    }

    .date{
        margin-left: auto;
        font-size: .7rem;
    }

    .recent-activity{
        margin: 0 .5rem;
    }

    .member-activity img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: .5rem;
    }

    .member-activity {
        display: flex;
        flex-direction: row;
        color: #696969;
        margin-bottom: 1rem;
        border-bottom: 1px solid #F5F5F5;
        padding: 0.5rem;
    }

    .activity-item {
        font-size: 0.8rem;
        margin: 0;
    }

    .activity-time {
        font-size: 0.7rem;
        margin: 0;
    }

    .member-activity a {
        margin-left: auto;
        text-decoration: none;
        font-size: 2rem;
        color: #7580BF;
    }

   
    .message-user{
        margin: 0 1rem;
    }


    input[type=text], textarea {

        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color:#F5F5F5;
        width: 260px;
        margin-bottom: 1rem;
      }

      button[type=submit] {
        background-color: #7580BF;
        color: white;
        padding: 12px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      .settings {
          margin: 2rem 1rem;
          color: #696969;
      }

      
  
      






